:root {
  --background: #15110f;
  --foreground: #f6f2ef;
  --card: #1d1611;
  --card-foreground: #f6f2ef;
  --popover: #1d1611;
  --popover-foreground: #f6f2ef;
  --primary: #b9384d;
  --primary-foreground: var(--background);
  --secondary: #e38431;
  --secondary-foreground: #15110f;
  --muted: #2f2520;
  --muted-foreground: #ceb9ab;
  --accent: #2f2520;
  --accent-foreground: #d9455d;
  --destructive: #991b1b;
  --destructive-foreground: var(--background);
  --border: #3f3127;
  --input: #3f3127;
  --ring: #b9384d;
  --radius: 0.5rem;
  --input-background: #2d2d2d;
  --switch-background: #cbced4;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --font-size: 16px;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
}

.dark {
  --background: #15110f;
  --foreground: #f6f2ef;
  --card: #1d1611;
  --card-foreground: #f6f2ef;
  --popover: #1d1611;
  --popover-foreground: #f6f2ef;
  --primary: #b9384d;
  --primary-foreground: var(--background);
  --secondary: #e38431;
  --secondary-foreground: #15110f;
  --muted: #2f2520;
  --muted-foreground: #ceb9ab;
  --accent: #2f2520;
  --accent-foreground: #d9455d;
  --destructive: #991b1b;
  --destructive-foreground: var(--background);
  --border: #3f3127;
  --input: #3f3127;
  --ring: #b9384d;
}
